* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 10% 0px 5%;
}

.nav-bar p {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Merienda', cursive;
    color: white;
    text-shadow: 2px 2px 2px rgb(222, 227, 228);
}

#logo {
    display: flex;
    width: 50%;
}

#logo img {
    width: 100px;
    height: 100px;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#login, #signup, #signup, #demo {
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: goldenrod;
    cursor: pointer;
}

#login:hover {
    background-color: gold;
    font-weight: bold;
}

#signup:hover {
    background-color: gold;
    font-weight: bold;
}

#demo:hover {
    background-color: gold;
    font-weight: bold;
}
