#s-btn {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    color:white;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 20px;;

}

#s-btn:hover {
    background-color: gold;
    color:black;
}

#s-demo {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}

#s-demo:hover {
    color: goldenrod;
    text-shadow: 3px 3px 3px rgb(44, 44, 41);
    font-weight: bold;
}
