.jour-cntr {
    background-image: url("../utils/entries-list-frame.png");
    background-size: cover;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  rgb(235, 233, 233);
    background-color: black;
}


.jour-title {
    margin-top: 40px;
    margin-bottom: 70px;
    color:  rgb(235, 233, 233);
    text-decoration: underline;
}

.jour-container {
    display: flex;
    color:  rgb(235, 233, 233);
}

.jour-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin-right: 20px;
    width: 600px;
    color:  rgb(235, 233, 233);
}


.jour-list {
    padding: 30px;
    color:  rgb(235, 233, 233);
}

.jour-link {
    text-decoration: none;
    color: rgb(235, 233, 233);
}

.jour-link h2:hover {
    color: goldenrod;
}

.jour-link h3:hover {
    color: goldenrod;
}

.date-written {
    font-size: small;
    color: lightslategray
}

#j-dets {
    display: flex;
}

.je-list {
    padding: 15px;
    margin-left: 20px;
}

#j-dets-cntr {
    background-image: url("../utils/journals-frame.jpg");
    background-size: contain;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: black
}

#j-dets-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 700px;
    margin-left: 500px;
    margin-top: 10%;
}

.j-dets-title {
    padding: 10px;
    white-space: pre-wrap;
    color: rgb(235, 233, 233);
}

.j-e-list {
    height: 70%;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.j-e-list::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.story-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ws-title {
    margin-top: 30px;
    margin-left: 250px;
}

.j-title {
    margin-top: 80px;
}

.story-form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.ws-errors {
    color: rgb(255, 73, 73);
}

.ws-form-field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}


.sf-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}

.j-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}


.sf-input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.j-button {
    margin: 30px;
    background-color: transparent;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    border-color:goldenrod;
    margin-left: 25%;
    cursor: pointer;
}

.j-button:hover {
    font-weight: bold;
}


.edit-del-btn{
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(201, 146, 7);
    text-decoration: underline;
}

#e-d-btn-ctn {
    display: flex;
}

#e-d-btn-ctn a {
    padding-top: 8px;
}
