.rec-title {
    margin-top: 40px;
    margin-left: 250px;
    margin-bottom: 70px;
}

.story-container {
    display: flex;
}

.story-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin-right: 20px;
    width: 600px;

}

.subtitle {
    color: gray;
    padding-top: 10px;
}

.user-name {
    font-size: small;
}

.date-written {
    font-size: small;
    color: lightslategray
}

.feed-list {
    padding: 30px;
}

#j-dets {
    display: flex;
}

.je-list {
    padding: 15px;
    margin-left: 20px;
}

#feed-img {
    height: 200px;
    width: 250px;
}

.story-link {
    text-decoration: none;
    color: black;
}

#story-comments {
    display: flex;
    justify-content: space-between;
}

#story-dets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 700px;
    margin-left: 500px;
    margin-top: 50px;
}

.story-body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.story-elements {
    padding: 10px;
    white-space: pre-wrap;
}

.story-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ws-title {
    margin-top: 30px;
    margin-left: 250px;
}

.j-title {
    margin-top: 80px;
}

.story-form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.ws-errors {
    color: rgb(255, 73, 73);
}

.ws-form-field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}


.sf-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}

.j-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.sf-content {
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.sf-input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.sf-content:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.ws-button {
    margin: 30px;
    background-color: transparent;
    border-radius: 30px;
    width: 20%;
    height: 40px;
    border-color:goldenrod;
    margin-left: 40%;
    cursor: pointer;
}

.j-button {
    margin: 30px;
    background-color: transparent;
    border-radius: 30px;
    width: 50%;
    height: 40px;
    border-color:goldenrod;
    margin-left: 25%;
    cursor: pointer;
}

.j-button:hover {
    font-weight: bold;
}


.edit-del-btn{
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(201, 146, 7);
    text-decoration: underline;
}

#e-d-btn-ctn {
    display: flex;
}

#e-d-btn-ctn a {
    padding-top: 8px;
}
