
.bg-img {
    background-image: url("../utils/night-sky-stars.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:black;
}

.login-ctn {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 500px;
    min-height: 700px;
    background-color: rgba(255, 255, 255, 0.876);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.logo-name {
    display: flex;
    flex-direction:column;
    align-items: center;
    cursor: pointer;
}

.logo-name > img {
    width: 100px;
    height: 100px;
}

.logo-name h1 {
    font-family: 'Merienda', cursive;
}

.logo-name p {
    font-family: 'Merienda', cursive;
}

.logo-name > p {
    color: gray;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.login-ctn > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errors {
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 10px;
}

.form-fields {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(245, 245, 208);
    transition: all 0.20s ease-in-out;
}


.form-fields input{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
}

#l-btn {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 50px;;

}

#l-btn:hover {
    background-color: gold;
    color:black;
}

.form-links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-links > p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.switch-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: goldenrod;
    font-weight: bold;
}

.switch-links:hover {
    text-shadow: 1px 1px 1px rgb(241, 243, 113);
}

#l-demo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

#l-demo:hover {
    color: goldenrod;
    text-shadow: 3px 3px 3px rgb(44, 44, 41);
    font-weight: bold;
}
