.entries-cntr {
    background-image: url("../utils/entries-list-frame.png");
    background-size: cover;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  rgb(235, 233, 233);
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    height: 100vh;
}

.rec-title {
    margin-top: 40px;
    margin-right: 200px;
    margin-bottom: 70px;
    text-decoration: underline;
}

.ent-wr {
    height: 70%;
    width: fit-content;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.ent-wr::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.ent-container {
    display: flex;
    height: 305px;
}

.ent-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
    width: 600px;
    overflow:hidden;
    text-overflow: ellipsis;
}


.date-written {
    color: lightslategray;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.e-list {
    padding: 30px;
}

.e-list:hover {
    background-color:rgb(49, 49, 49);
    border-radius: 20px;
}

#s-dets {
    display: flex;

}


.entry-link {
    text-decoration: none;
    color: rgb(235, 233, 233);
}

.entry-link p {
    height: 50%;
}

.entry-link h2 {
    overflow:hidden;
    text-overflow: ellipsis;
}

#en-dets-cnt {
    background-image: url("../utils/entry-frame.jpg");
    background-size: 100% 100%;
    margin-left: 300px;
    display: flex;
    /* justify-content: space-between; */
    height: 100vh;
    background-color:black;
}

.j-name i {
    padding-right: 5px;
    padding-bottom: 20px;
}

.j-name:hover {
    font-weight: bold;
    cursor: pointer;
}

.e-j-dropdown {
    padding: 5px;
}

.e-j-dropdown:hover {
    font-weight: bold;
    cursor: pointer;
}

#en-dets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 700px;
    margin-left: 400px;
    margin-top: 5%;
    margin-bottom: 1%;
    color: rgba(235, 229, 229, 0.938);
    font-family: 'Montserrat', sans-serif;

}

#en-dets h5 {
    padding-left: 15px;
    padding-bottom: 10px;
    color: lightslategray
}

.ent-body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.ql-editor {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0px;
    white-space: pre-wrap;
    height: 60%;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.ql-editor::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.ent-title {
    padding: 10px;
    white-space: pre-wrap;
}

.entry-content {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    white-space: pre-wrap;
    height: 60%;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.entry-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.entry-form-cntr {
    background-image: url("../utils/create-edit-entry2.jpg");
    background-size: 100% 100%;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
}

.e-title {
    margin-top: 30px;
    margin-left: 250px;
    color: rgba(235, 229, 229, 0.938);
}

.entry-form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.ws-errors {
    color: rgb(255, 73, 73);
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.ws-form-field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}

.jour-sel-field {
    margin-top: 30px;
    width: 100%;
    color:  rgba(235, 229, 229, 0.938);
}

.jour-sel {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    border-radius: 5px;
    width: 50%;
    height: 35px;
    background-color: rgb(248, 242, 242);
}

.e-input {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(238, 238, 238);

}

.e-content {
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    height: 500px;
    max-width: 900px;
    background-color: rgb(238, 238, 238);
}

.e-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: revert;
}

.e-input:focus {
    outline: none;
    box-shadow: 0 0 4px 4px rgb(116, 112, 112);
    transition: all 0.20s ease-in-out;

}

.e-content:focus {
    outline: none;
    box-shadow: 0 0 4px 4px rgb(116, 112, 112);
    transition: all 0.20s ease-in-out;

}


.e-button {
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
    background-color: transparent;
    border-radius: 30px;
    width: 20%;
    height: 40px;
    border-color:goldenrod;
    margin-left: 40%;
    cursor: pointer;
    color: rgba(235, 229, 229, 0.938);
}

.e-button:hover {
    font-weight: bold;
    border: none;
    background-color: goldenrod;
    color: black;
}

.edit-del-btn{
    margin: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(201, 146, 7);
    text-decoration: underline;
}

#e-d-btn-ctn {
    display: flex;
}

#jour-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(46, 46, 46);
    top: 24%;
    border-radius: 10px;
    height: 300px;
    padding: 10px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 0 0 4px 4px rgb(53, 52, 52);
    z-index: 1;
}

#jour-dropdown::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.select-jour {
    color: rgba(235, 229, 229, 0.938);
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
}

.select-jour:hover {
    background-color: whitesmoke;
    color: black;
}
