.entries-cntr {
    background-image: url("../utils/entries-list-frame.png");
    background-size: contain;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  rgb(235, 233, 233);
    background-color: black;
}

.rec-title {
    margin-top: 40px;
    margin-right: 200px;
    margin-bottom: 70px;
    text-decoration: underline;
}

.story-container {
    display: flex;
}

.story-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin-right: 20px;
    width: 600px;

}

.subtitle {
    color: gray;
    padding-top: 10px;
}

.user-name {
    font-size: small;
}

.date-written {
    font-size: small;
    color: lightslategray
}

.e-list {
    padding: 30px;
}

.e-list:hover {
    background-color:rgb(61, 61, 59);
    border-radius: 20px;
}

#s-dets {
    display: flex;

}

#feed-img {
    height: 200px;
    width: 250px;
}

.story-link {
    text-decoration: none;
    color: black;
}

.entry-link {
    text-decoration: none;
    color: rgb(235, 233, 233);
}

.entry-link p {
    height: 50%;
}

#en-dets-cnt {
    background-image: url("../utils/entry-frame.jpg");
    background-size: 100% 100%;
    margin-left: 300px;
    display: flex;
    /* justify-content: space-between; */
    height: 100vh;

}

.j-name i {
    padding-right: 5px;
    padding-bottom: 20px;
}

.j-name:hover {
    font-weight: bold;
    cursor: pointer;
}

.e-j-dropdown {
    padding: 5px;
}

.e-j-dropdown:hover {
    font-weight: bold;
    cursor: pointer;
}

#en-dets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 700px;
    margin-left: 400px;
    margin-top: 3%;
    margin-bottom: 1%;
    color: rgba(235, 229, 229, 0.938);

}

.story-body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.story-elements {
    padding: 10px;
    white-space: pre-wrap;
}

.entry-content {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    white-space: pre-wrap;
    height: 60%;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}

.entry-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.entry-form-cntr {
    background-image: url("../utils/create-edit-entry2.jpg");
    background-size: 100% 100%;
    margin-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.e-title {
    margin-top: 30px;
    margin-left: 250px;
    color: rgba(235, 229, 229, 0.938);
}

.story-form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.ws-errors {
    color: rgb(255, 73, 73);
}

.ws-form-field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}


.e-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}

.e-content {
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.e-input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.e-content:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.e-button {
    margin: 30px;
    background-color: transparent;
    border-radius: 30px;
    width: 20%;
    height: 40px;
    border-color:goldenrod;
    margin-left: 40%;
    cursor: pointer;
    color: rgba(235, 229, 229, 0.938);
}

.e-button:hover {
    font-weight: bold;
    border: none;
    background-color: goldenrod;
    color: black;
}

.edit-del-btn{
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(201, 146, 7);
    text-decoration: underline;
}

#e-d-btn-ctn {
    display: flex;
}
