
#profile-div {
    display: flex;
    flex-direction: column;
}

#profile-button {
    cursor: pointer;
    padding: 7px;
    /* border:1px solid black;
    border-radius: 50%;
    background-color: white; */

}

#prof-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 0 3px #ccc;
    top: 70px;
}

.prof-link {
    color: black;
}

.prof-list-item {
    color: black;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.prof-list-item:hover {
    background-color: whitesmoke;
}

#logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: black;
}
