.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: rgb(22, 22, 22);
	color: white;
	padding-top: 20px;
	padding-left: 15px;
}

.side-bar-link {
	padding: 10px;
}

.side-bar-link i {
	margin-right: 10px;
}

.sidebar a {
	color: white;
	margin-top: 20px;
}

.sidebar h1 {
	font-size: 28px;
}

.sidebar h1 i {
	padding: 5px;
	margin-right: 5px;
}


#create-new-entry {
	color: goldenrod;
    padding: 10px;
    cursor: pointer;
}

#create-new-entry i {
	margin-right: 5px;
}

#f-wrapper{
	margin-top: auto;
    margin-bottom: 10px;
    display: flex;
	flex-direction: column;
    justify-content: center;
}

#f-wrapper h4 {
	margin-left: 20px;
}

#footer-container{
    display: flex;
    justify-content: center;
}

.footer-icon {
	padding: 0px 20px 20px 20px;
}

.footer-icon:hover{
    color: goldenrod;
    cursor: pointer;
}

.side-bar-link:hover{
    color:goldenrod;
}

.log-out-div {
	font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
	background-color: goldenrod;
	color: black;
	margin: 50px auto;
	padding:10px;
}

.log-out-div:hover {
    background-color: gold;
}
