.sidenav {
	height: 100vh;
	width: 300px;
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: rgb(22, 22, 22);
	color: white;
    font-family: 'Montserrat', sans-serif;
	padding-top: 20px;
	padding-left: 15px;
}

.side-nav-link {
	padding: 10px;
}

.side-nav-link i {
	margin-right: 10px;
}

.sidenav a {
	color: white;
	margin-top: 20px;
}

.sidenav h1 {
	font-size: 28px;
}

.sidenav h1 i {
	padding: 5px;
	margin-right: 5px;
}


#create-new-entry {
	color: goldenrod;
    padding: 10px;
    cursor: pointer;
}

#create-new-entry i {
	margin-right: 5px;
}

#create-new-entry:hover {
    font-weight: bold;
    color: rgb(240, 182, 35);
}

#f-wrapper{
	margin-top: auto;
    margin-bottom: 10px;
    display: flex;
	flex-direction: column;
    justify-content: center;
}

#f-wrapper h4 {
	margin-left: 20px;
}

#footer-container{
    display: flex;
    justify-content: center;
}

.footer-icon {
	padding: 0px 20px 20px 20px;
}

.footer-icon:hover{
    color: goldenrod;
    cursor: pointer;
}

.side-nav-link:hover{
    color:goldenrod;
}

.log-out-div {
	font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
	background-color: goldenrod;
	color: black;
	margin: 50px auto;
	padding:10px;
}

.log-out-div:hover {
    background-color: gold;
}

.search-cont {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    background-color: #6d6d6d;
    border-radius: 20px;
    width: 90%;
}
 .search-cont i {
    color: rgba(255, 255, 255, 0.767);
    margin: 10px;
    background-color: #6d6d6d;
 }

.search-input {
	width: 80%;
    height: 35px;
    padding-left: 55px;
    padding: 15px;
    color: white;
    background-color: #6d6d6d;
    border: transparent;
    font-size: 20px;
    border-radius: 20px;
    outline: none;

}

.search-input::placeholder {
    color: rgb(211, 198, 198);
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    transition: none;

}

#search-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(46, 46, 46);
    margin-top: 16%;
    border-radius: 10px;
    height: 300px;
    width: 270px;
    padding: 10px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 0 0 4px 4px rgb(53, 52, 52);
    z-index: 1;
}

#search-dropdown::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
