.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	color: white;
	padding-top: 16px;
	padding-left: 10px;
}

#side-bar-link {
	padding: 8px;
}
.sidebar a {
	color: white;
}


.sidebar h1 {
	font-size: 28px;
}

.sidebar h1 i {
	padding: 5px;
}


#create-new-entry {
	color: goldenrod;
    padding: 10px;
    cursor: pointer;
}

#footer-container{
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer-icon:hover{
    color: goldenrod;
    cursor: pointer;
}

#side-bar-active:hover{
    color:goldenrod;
}
